# Virtual environment
.venv/
venv/
ENV/
.cache/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Project output
output/*
!output/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testing and Linters
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build and Packaging
build/
dist/
*.egg-info/
